{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/articles/display.css') }}">
{% endblock %}

{% block body %}
    <div class="articles-container">
        {% for article in allArticles %}
            <article>
                <div>
                    <h1>{{ article.title }}</h1>
                    <p>{{ article.content }}</p>
                    <p>Auteur: {{ article.user.firstname }} {{ article.user.lastname }}</p>
                    <p>Posté le : {{ article.createdAt | date('d-m-Y')}}</p>
                    <a href="/articles/id={{ article.id }}">Lien vers l'article</a>
                </div>
                <div>
                    <img class="img-display-article" src="/assets/upload/{{ article.images }}"/>
                </div>
            </article>
        {% endfor %}
    </div>
    <div class="navigation">
        {{ knp_pagination_render(allArticles) }}
    </div>
{% endblock %}
